.recipe_container{
    font-family: 'Comic Neue';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .recipe_title{
        font-family: 'Special Elite';
        font-size: 5rem;
        font-weight: 700;
        color: #915350;
        margin: 2rem;
    }
    .ingredientsAndImage_container{
        margin-bottom: 2rem;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        .recipe_image{
            border-radius: 2.5rem;
            width: 20rem;
            height: auto;
        }
        .ingredients-quantities_container{
            .ingredients_title{
                font-size: 3rem;
                margin-bottom: 1.5rem;
                font-weight: 700;
            }
            .lists_container{
                width: 20rem;
                display: flex;
                justify-content: space-between;
                    .ingredients-list{
                        display: flex;
                    flex-direction: column;
                        text-transform: capitalize;
                        .ingredient{
                            font-weight: 700;
                            font-size: 1rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                    .quantities-list{
                        display: flex;
                        flex-direction: column;
                        font-size: 1.2rem;
                        padding-bottom: 0.5rem;
                        .quantity{
                            font-size: 1rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                    .ingredient-quantity::before {
                        content: "🥄 ";
                    }            
            }
        }
        }        
    .timing_container{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .timing{
            font-size: 1.4rem;
        }
        .timing_title{
            font-weight: 700;
        }
        .timing::before{
            content: "⏰ ";
        }
    }
    .preparation_container{
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .instruction_title{
            font-size: 2.5rem;
            margin-bottom: 1.2rem;
            font-weight: 700;
        }
        .instructions_container{
            display: flex;
            font-size: 1.2rem;
            .instructions-titles-list{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .instruction-title{
                    
                    margin-right: 1rem;
                }
            }
            .instructions-list{
                .instruction{
                    margin-bottom: 0.7rem;                    
                }
            }
        }       
    }
}