.recipe_container{
    .recipe_title{
        font-family: 'Dancing Script';
        font-size: 5rem;
        font-weight: 700;
        color: #915350;
        margin: 2rem;
    }
    .recipe_image{
        border-radius: 2.5rem;
        width: 20rem;
        height: auto;
    }
}