@use '../style/vars';

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .header_container{
    height: vars.$header_height;
  }
  .content {
    //height: vars.$main_height;
    padding-bottom: 8vh;
  }
  .footer_container{
    position: absolute;
    bottom: 0;
    height: vars.$footer_height;
    width: 100%;
  }
}
