@use '../style/vars';

.App {
display: flex;
flex-direction: column;
align-items: center;
  .header_container{
    height: vars.$header_height;
  }
  .content {
    min-height: vars.$main_height;
  }
  .footer_container{
    height: vars.$footer_height;
  }
}
