.footer_container{
    font-family: 'Poiret One';
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .navbar_footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
    }
}